{% extends "homepage.html" %}

{% block content %}
    <form action="{{ url_for('prettify_json') }}" method="POST">
        <textarea id="json-input" name="json-input" rows="100" cols="100"></textarea>
        {% if json_output %}
        <textarea id="json-output" name="json-output" rows="100" cols="100">{{ json_output }}</textarea>
        {% else %}
        <textarea id="json-output" name="json-output" rows="100 " cols="100"></textarea>
        {% endif %}
        <input type="submit" value="Prettify" id="prettify-button">
    </form>
{% endblock %}